@import '../variables';

.calories {
    background-color: $primary-color;
    color: #FFFFFF;
}

.type {
    background-color: $secondary-color;
    color: #FFFFFF;
}

.side {
    background-color: $side-color;
    color: #000000;
}