@import '../variables';

.restaurant {
  border: 0.0625rem solid $primary-color ;
  border-radius: 0.625rem;
  margin: 0.625rem 0.625rem;
  padding: 0.625rem 0.625rem;
  text-align: center;
  &:hover {
    cursor: pointer;
  }
}

section {
  padding: 0.625rem 0.625rem;
  justify-content: center;
}
